body {
  font-family: 'Silkscreen', sans-serif;
    background-color: #100000;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #af0303;
  }

 .dashboard {
      color: #fabbbb;
    }

  input {
    height: 30px;
    font-family: 'Silkscreen', sans-serif;
    background-color: #490000;
    border-color: #af0303;   
  }
  
  input[type="submit"] {
    color: #fabbbb;
    background-color: #980000;
    border-color: #af0303;
    align-content: center;
    border-width: 1px;
    height: 40px;
}

input[type="submit"]:hover {
  color: #af0303;
  background-color: #490000;
}

button{

  font-family: 'Silkscreen', sans-serif;
  color: #980000;
  background-color: #fabbbb;
  border-color: #af0303;
  align-content: center;
  border-width: 1px;
  height: 40px;
  
  margin-top: 300px;

}

button:hover {

  color: #fabbbb;
  background-color: #980000;

}

video {
  position: fixed;
  top: 50%;
  left: 50%;
  min-width: 100%;
  min-height: 100%;
  width: auto;
  height: auto;
  z-index: -100;
  transform: translateX(-50%) translateY(-50%);
  background: url(dashboard.mp4) no-repeat;
  background-size: cover;
  opacity: 50%;
}
