body {
  font-family: 'Creepster';
    background-color: #f37676;
    text-align: center;
    max-width: 800px;
    margin: 0 auto;
    padding: 20px;
    color: #af0303;
  }
 
  input {
    height: 30px;
    background-color: #f0b9b9;
    border-color: #af0303;
  }
  
  input[type="submit"] {
    color: #af0303;
    background-color: #f37676;
    border-color: #af0303;
    align-content: center;
    border-width: 1px;
    height: 40px;
}

input[type="submit"]:hover {
  color: #f37676;
  background-color: #af0303;
}
